{% extends 'base.html' %}

{% block title %}{{ customuser.username }}{% endblock %}

{% block contents %}
<div>
  <p class="fw-bold text-decoration-underline">
    {{ customuser.username }}
  </p>

  {% if customuser.photo %}
  <p><img src="{{ customuser.photo.url }}"></p>
  {% else %}
  <p>No photo.</p>
  {% endif %}

  {% if customuser.description %}
  <p>{{ customuser.description }}</p>
  {% else %}
  <p>No description.</p>
  {% endif %}

  {% if customuser.id == user.id %}
  <p>user profile of myself</p>
  {% else %}
  <p>user different from "{{ user.username }}" </p>
  <form method="post" action="{% url 'accounts:detail' customuser.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-light">
      Follow
    </button>
  </form>
  {% endif %}

</div>
{% endblock %}
