{% extends 'base.html' %}

{% block contents %}
<div>
  <h1>Profile</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-light">Save</button>
  </form>

  <br/>

  <h3>Follow List</h3>
  {% if following_list %}
  You are following...
  {% for following in following_list %}
  <p>{{ following.username }}</p>
  {% endfor %}
  {% endif %}

  <h3>Follower List</h3>
  You are followed by...
  {% if followed_list %}
  {% for followed in followed_list %}
  <p>{{ followed.username }}</p>
  {% endfor %}
  {% endif %}

</div>
{% endblock %}
