<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <header>
    <div class="container-fluid px-0">
      <div>
	<nav class="nav bg-dark">
	  <ul class="navbar-nav list-group-horizontal">
	    {% if request.user.is_authenticated == False %}
	    <li class="nav-item px-3">
	      <a href="{% url 'accounts:login' %}" class="nav-link link-light">
		Login
	      </a>
	    </li>
	    <li class="nav-item px-3">
	      <a href="{% url 'accounts:signup' %}" class="nav-link link-light">
		Signup
	      </a>
	    </li>
	    {% else %}
	    <li class="nav-item px-3">
	      <a href="{% url 'accounts:edit' request.user.id %}"
		 {% if '/' == request.path %}
		 class="nav-link link-light">
		 {% else %}
		 class="nav-link link-light text-decoration-underline">
		 {% endif %}
		 Edit Profile
	      </a>
	    </li>
	    <li class="nav-item px-3">
	      <a href="{% url 'timeline:index' %}"
		 {% if '/' == request.path %}
		 class="nav-link link-light text-decoration-underline">
		 {% else %}
		 class="nav-link link-light">
		 {% endif %}
		Timeline
	      </a>
	    </li>
	    <li class="nav-item px-3">
	      <form method="post" action="{% url 'accounts:logout' %}" class="nav-link link-light">
		{% csrf_token %}
		<!-- TODO : Make the Logout link similar to other links (height) -->
		<button type="submit" class="btn btn-link nav-link link-light">
		  Logout
		</button>
	      </form>
	    </li>
	    {% endif %}
	  </ul>
	</nav>
      </div>
    </div>
  </header>
  <body class="d-flex flex-column min-vh-100">
    {% block contents %}
    {% endblock %}
  </body>
  <footer class="nav bg-dark mt-auto">
    <div class="column">
        <h5></h5>
        <ul class="nav flex-column">
          <li class="nav-item px-3"><a href="#" class="nav-link px-3 link-light">Subscribe</a></li>
          <li class="nav-item px-3"><a href="#" class="nav-link px-3 link-light">FAQs</a></li>
          <li class="nav-item px-3"><a href="#" class="nav-link px-3 link-light">About</a></li>
        </ul>
    </div>
  </footer>
  <small>
    &copy; 2025 someone. All rights reserved.
  </small>
</html>
