{% extends 'base.html' %}

{% block contents %}

{% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<p id='logged-in-message' class="alert alert-success float-center text-center"> {{ message }} </p>
{% endif %}
{% endfor %}
{% endif %}
<script>
  var message_timeout = document.getElementById('logged-in-message');
  setTimeout(function(){
      message_timeout.style.display = "none";
  }, 2500);
</script>

<div>

  <div>
  {% if page_obj.has_other_pages %}

  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}">&lt; Previous</a>
  {% else %}
  &lt; Previous
  {% endif %}

  &nbsp;

  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">Next &gt;</a>
  {% else %}
  Next &gt;
  {% endif %}

  {% endif %}
  </div>

  {% for post in page_obj %}
  <small class="text-muted">{{ post.created_at }}</small>
  <a href="{% url 'accounts:detail' post.author.id %}">{{ post.author }}</a>

  <div class="card">
    <div class="card-body">
      {{ post.text }}
    </div>
  </div>

  {% if post.post_photo %}
  <img src="{{ post.post_photo.url }}">
  {% endif %}

  {% if post.author == request.user %}
  <form method="post" action="{% url 'timeline:delete' post.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-light"
	    onclick='return confirm("Are you sure to delete this post ?");'>
      Delete
    </button>
  </form>
  {% else %}
  <form method="post" action="{% url 'timeline:like' post.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-light">
      Like
    </button>
  </form>
  {% endif %}

  {% endfor %}
</div>

<div id="spaces"></div>

<script>
  var spaces = document.getElementById("spaces");
  spaces.innerHTML = "<br/>".repeat(8);
</script>

<div>
  <a href="{% url 'timeline:create' %}">Post something new</a>
</div>

{% endblock %}
